---
import PrimaryNav from "../navigation/PrimaryNav.astro";
---

<header class="flex justify-between w-full py-8 max-w-[1200px] m-auto px-4">
  <h1 class="text-2xl ff-heading">
    <span class="first-name | font-bold">adam</span>levoy
  </h1>
  <PrimaryNav />
</header>

<style lang="css">
  h1 {
    color: var(--text-100);
  }

  a {
    color: var(--text-200);
  }

  .first-name {
    color: var(--accent-100);
  }
</style>
