---
import Layout from "../layouts/Layout.astro";
// import Hero from "../sections/Hero";
import Hero from "../components/Hero.astro";
import ScrollBar from "../components/ScrollBar.astro";
import Brands from "../sections/Brands.astro";
import About from "../sections/About.astro";
import Skills from "../sections/Skills.astro";
import Stats from "../sections/Stats.astro";
---

<Layout
  title="Adam Levoy | Entrepreneur & Builder of Things"
  description="Entrepreneur, builder of things, and life-long learner, with a background in finance, marketing and e-commerce."
>
  <main>
    <Hero />
    <Brands />
    <About />
    <Skills />
    <Stats />
  </main>
</Layout>
