<div class="wrapper py-6">
  <div class="marquee lowercase">
    <ul class="list-none flex gap-x-4 text-xl">
      <li>shopify expert</li>
      <li>•</li>
      <li>brand owner & operator</li>
      <li>•</li>
      <li>growth marketer</li>
      <li>•</li>
      <li>web designer & developer</li>
      <li>•</li>
      <li>email marketing</li>
      <li>•</li>
      <li>paid search</li>
      <li>•</li>
      <li>finance & operations</li>
      <li>•</li>
      <li>media production</li>
      <li>•</li>
      <li>search engine optimization</li>
      <li>•</li>
      <li>conversion rate optimization</li>
      <li>•</li>
      <li>shopify expert</li>
      <li>•</li>
      <li>brand owner & operator</li>
      <li>•</li>
      <li>growth marketer</li>
      <li>•</li>
      <li>web designer & developer</li>
      <li>•</li>
      <li>email marketing</li>
      <li>•</li>
      <li>paid search</li>
      <li>•</li>
      <li>finance & operations</li>
      <li>•</li>
      <li>media production</li>
      <li>•</li>
      <li>search engine optimization</li>
      <li>•</li>
      <li>conversion rate optimization</li>
      <li>•</li>
    </ul>
  </div>
</div>

<style>
  .wrapper {
    max-width: 100%;
    overflow: hidden;
    background-color: var(--bg-200);
  }

  .marquee {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: marquee 60s linear infinite;
  }

  .marquee p {
    display: inline-block;
  }

  @keyframes marquee {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-50%, 0, 0);
    }
  }
</style>
