---
const { heading, subheading } = Astro.props;
---

<div class="mb-20">
  <h2 class="text-5xl">{heading}</h2>
  <p class="text-3xl pt-4 text-primary max-w-prose">
    {subheading}
  </p>
</div>

<style>
  h2 {
    font-family: var(--ff-heading);
  }
  p {
    font-family: var(--ff-subheading);
    line-height: 1.5;
  }
</style>
