---
import { Image } from "astro:assets";
import SectionContainer from "../components/SectionContainer.astro";
import SectionTitle from "../components/SectionHeading.astro";
import Wedding from "../assets/images/wedding.jpg";
import SectionHeading from "../components/SectionHeading.astro";
---

<SectionContainer id="about">
  <SectionHeading
    heading="about"
    subheading="Entrepreneur and builder of things with a background in finance, marketing, & e-commerce"
  />
  <div class="grid md:grid-cols-2 gap-16">
    <div class="flex flex-col justify-start gap-3 order-2 md:order-1">
      <p class="intro">
        Ahoy, I'm Adam, a dynamic entrepreneur with a passion for creating,
        building and experimenting on the web. Driven by a desire to create, I
        founded and operate three thriving direct-to-consumer brands, all
        powered by the Shopify platform.
      </p>
      <p>
        My commitment to hands-on involvement ensures a deep understanding of
        the technical aspects of my businesses. My leadership style is marked by
        a willingness to roll up my sleeves and dive into the complexities of
        operations.
      </p>
      <p>
        Before becoming a full-time entrepreneur, I honed my skills in finance,
        working as an investment professional in late-stage venture, private
        equity, and leveraged finance. My financial expertise provided a solid
        foundation for the strategic decision making required in the business
        world.
      </p>
      <p>
        The pandemic served as a catalyst for personal growth. Seizing the
        opportunity to learn, I taught myself web design and development. This
        newfound skill set has become vital as an entrepreneur in the digital
        space.
      </p>
      <p>
        Beyond business, I find balance through my passion for surfing,
        snowboarding, and skateboarding. I have an adventurous spirit that
        translates into my approach to entrepreneurship, where I continuously
        seek new challenges and opportunities to learn and grow.
      </p>
      <p>
        I graduated from CSUF Mihaylo College of Business & Economics with a
        Bachelor's in Business Administration. I'm a dedicated family man based
        in Los Angeles, with my super-human wife and two brilliant daughters.
      </p>
    </div>
    <div class="order-1 md:order-2">
      <Image
        src={Wedding}
        alt="adam & elizabeth wedding"
        class="rounded-3xl shadow-2xl"
      />
    </div>
  </div>
</SectionContainer>

<style>
  p.intro::first-letter {
    font-size: 300%;
    color: var(--primary-100);
    font-weight: bold;
    line-height: 0;
  }
</style>
