---
import SectionContainer from "../components/SectionContainer.astro";
import SectionHeading from "../components/SectionHeading.astro";
---

<SectionContainer id="contact">
  <SectionHeading
    heading="Get in touch"
    subheading="Got a project in mind? Feel free to reach out"
  />
  <form
    class="border-4 border-accent p-12 max-w-fit mx-auto rounded-3xl bg-neutral flex flex-col gap-6 shadow-xl"
    name="contact"
    method="POST"
    data-netlify="true"
  >
    <label class="sr-only" for="email"></label>
    <input
      id="email"
      class="input input-lg input-accent"
      type="email"
      name="email"
      required
      placeholder="your name"
    />
    <label class="sr-only" for="name">Your Name:</label>
    <input
      id="name"
      class="input input-lg input-accent"
      type="text"
      name="name"
      required
      placeholder="your@email.com"
    />
    <label class="sr-only" for="message"></label>
    <textarea
      id="message"
      class="textarea textarea-accent textarea-lg"
      name="message"
      required
      placeholder="your message"></textarea>

    <button class="btn btn-lg btn-accent shadow" type="submit">Send</button>
  </form>
</SectionContainer>
