---
import SectionContainer from "../components/SectionContainer.astro";
import SectionHeading from "../components/SectionHeading.astro";
import StatCard from "../components/StatCard.astro";
---

<SectionContainer id="stats">
  <SectionHeading
    heading="stats"
    subheading="Some key performance highlights from across my brands"
  />
  <div
    class="w-full flex flex-wrap justify-around md:justify-between gap-8 mt-16"
  >
    <StatCard stat="$5M+" text="Shopify Sales" />
    <StatCard stat="66%" text="Email Open Rate" />
    <StatCard stat="60k" text="Monthly Visitors" />
    <StatCard stat="$140" text="Avg. Order Value" />
  </div>
</SectionContainer>

<style>
  .stat {
    font-family: var(--ff-heading);
  }
</style>
